# VerificationStatus

## Enum


* `PENDING` (value: `"pending"`)

* `APPROVED` (value: `"approved"`)

* `BLOCKED` (value: `"blocked"`)

* `EXPIRED` (value: `"expired"`)

* `UNDELIVERED` (value: `"undelivered"`)


[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)
